@model AddSprintViewModel

@{
    ViewBag.Title = "Добавление фичи в спринт";
}


<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Add to the @Model.SprintName section</strong></span>
    
    @foreach(var feature in Model.Features)
    {
    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>@feature.Name</p>
    </form>
    }

    <!--Тестовые формы-->
    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>Test sprint 1</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <p>Test sprint 2</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <p>Test sprint 3</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <p>Test sprint 4</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <p>Test sprint 5</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <p>Test sprint 6</p>
    </form>
</div>