@model NewSprintViewModel

@{
    ViewBag.Title = "Добавление спринта";
}

<form method="post" asp-controller="Sprint" asp-action="New">
    <input type="hidden" asp-for="ProjectID" />
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">Название Спринта</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="FeatureId">Тип команды</label><br />
        <select asp-for="FeatureId">
            @foreach (var feature in Model.PosibleFeatures)
            {
                <option value="@feature.ID">@feature.Name</option>
            }
        </select>
        <span asp-validation-for="FeatureId"></span>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
