@model NewSprintViewModel

@{
    ViewBag.Title = "Добавление спринта";
}

<div class="content is-medium">
    <h2>Добавление нового спринта</h2>
</div>
<div class="box">
    <form method="post" asp-controller="Sprint" asp-action="New">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <label class="label" asp-for="Name">Название Спринта</label>
            <div class="control">
                <input class="input" asp-for="Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Features">Фичи для спринта</label>
            @foreach (var feature in Model.PosibleFeatures)
            {
                <label class="checkbox">
                    <input type="checkbox" value="@feature.ID" name="Features" />
                    @feature.Name
                </label>
                <br />
            }
            <span asp-validation-for="Features" class="error-message"></span>
        </div>
        <br />
        <div class="field">
            <label class="label" asp-for="StartDate">Дата начала спринта</label>
            <div class="control">
                <input type="datetime-local" asp-for="StartDate" value="@DateTime.Now" />
                <span asp-validation-for="StartDate" class="error-message"></span>
            </div>
        </div>
        <br />
        <div class="field">
            <label class="label" asp-for="EndDate">Дата окончания спринта</label>
            <div class="control">
                <input type="datetime-local" asp-for="EndDate" value="@DateTime.Now" />
                <span asp-validation-for="EndDate" class="error-message"></span>
            </div>
        </div>
        <div class="has-text-centered">
            <button class="button is-primary">Создать</button>
        </div>
    </form>
</div>
