@model ListProjectsViewModel

@{
    ViewBag.Title = "Просмотр проектов";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="blockquote">ID</th>
            <th scope="col" class="blockquote">Название</th>
        </tr>
    </thead>
    @foreach (var project in Model.Projects)
    {
        <tr>
            <td>@project.ID</td>
            <td><a asp-action="View" asp-route-id="@project.ID">@project.Name</a></td>
        </tr>
    }
</table>