@model AddFeatureViewModel
@{
    ViewBag.Title = "Добавлегие фичи в спринт";
}


<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Add to the @Model.SprintName section</strong></span>

    @foreach (var feature in Model.PossibleFeatures)
    {
        <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
            <input type="hidden" asp-for="FeatureId" value="@feature.ID" />
            <input type="hidden" asp-for="SprintId" />
            <span asp-validation-for="FeatureId"></span>
            <span asp-validation-for="SprintId"></span>
            <p>@feature.Name</p>
        </form>
    }

    <!--Тестовые формы-->
    <h2>Test Data</h2>
    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" value="111"/>
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <p>Test feature 1</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" value="222" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>Test feature 2</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" value="333" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>Test feature 3</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" value="444" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>Test feature 4</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" value="555" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>Test feature 5</p>
    </form>

    <form class="box button" onclick="this.submit();" asp-action="Add" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" value="666" />
        <input type="hidden" asp-for="SprintId" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="SprintId"></span>
        <p>Test feature 6</p>
    </form>
    <!--Конец тестовых данных-->
</div>