@model Epico.Models.ProductEntity.Feature.FeatureViewModel
@{
    ViewBag.Title = "Features";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Список всех фич </span>
        @if (User.IsInRole("Manager"))
        {
            <div class="container-text-button_button">
                <a class="is-32-height"
                   asp-controller="Feature"
                   asp-action="New">
                    <img class="plus-button" src="~/img/plus-square.svg" />
                </a>
            </div>
        }
    </div>
    @if (Model.TaskError)
    {
        <span class="error-message">*Нельзя создать фичу без указания задач</span>
        <br />
    }
    @if (Model.MetricError)
    {
        <span class="error-message">*Нельзя создать фичу без указания метрики</span>
        <br />
    }
    @foreach (var feature in Model.ElementsList)
    {
        <div class="box word-break none-padding">
            <!--Информация о фиче-->
            <a class="button is-fullwidth is-show-button" 
               asp-controller="Feature"
               asp-action="Show"
               asp-route-id="@feature.ID">@feature.Name</a>
        </div>
    }
</div>