@model Epico.Models.ProductEntity.Feature.FeatureViewModel
@{
    ViewBag.Title = "Features";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">List of features: </span> <!--Список всех фич -->
        @if (User.IsInRole("Manager"))
        {
            <a class="button add-button is-gray is-40-height"
               asp-controller="Feature"
               asp-action="New">
                Add new feature
            </a>
        }
    </div>
    @if (Model.TaskError)
    {
        <span class="error-message">*Нельзя создать фичу без указания задач</span>
        <br />
    }
    @if (Model.MetricError)
    {
        <span class="error-message">*Нельзя создать фичу без указания метрики</span>
        <br />
    }
    @foreach (var feature in Model.ElementsList)
    {
        <div class="box word-break none-padding">
            <!--Информация о фиче-->
            <a class="button is-fullwidth is-show-button"
               asp-controller="Feature"
               asp-action="Show"
               asp-route-id="@feature.ID">@feature.Name</a>
        </div>
    }
</div>