@model FeatureViewModel

@{
    ViewBag.Title = "Features";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Features</strong></span>
    
    @foreach(var feature in Model.Features)
    {
        <div class="box">
            <p>@feature.Name [@feature.State.ToString()]</p>
            <form method="get" asp-action="EditState" asp-controller="Feature">
                <input type="hidden" asp-for="FeatureId" value="@feature.ID"/>
                <button >Change status</button>
            </form>
            <form method="get" asp-action="Edit" asp-controller="Feature">
                <input type="hidden" asp-for="FeatureId" value="@feature.ID"/>
                <button >Change feature</button>
            </form>
            <form method="get" asp-action="Delete" asp-controller="Feature">
                <input type="hidden" asp-for="FeatureId" value="@feature.ID"/>
                <button >Delete feature</button>
            </form>
        </div>
    }

<form method="get" onclick="this.submit()" asp-action="New" asp-controller="Feature">
    <div class="is-flex" style="justify-content: center;">
        <!--костыль чтоб курсор менялся-->
        <a>
            <input type="hidden" asp-for="ProductId" />
            <span asp-validation-for="ProductId"></span>
            <img src="~/img/plus.svg" />
        </a>
    </div>
</form>
</div>