@model FeatureViewModel

@{
    ViewBag.Title = "Features";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Features</strong></span>
    @*
        

    @foreach(var feature in Model.Features)
    {
        <div class="box">
            <p>@feature.Name</p>
        </div>
    }
    *@
    
    <!--Тестовые фичи-->
    <div class="box">
        <p>Test feature 1</p>
    </div>
    <div class="box">
        <p>Test feature 2</p>
    </div>
    <div class="box">
        <p>Test feature 3</p>
    </div>
    <div class="box">
        <p>Test feature 4</p>
    </div>
    <div class="box">
        <p>Test feature 5</p>
    </div>
    <div class="box">
        <p>Test feature 6</p>
    </div>
    <div class="box">
        <p>Test feature 7</p>
    </div>

    <!-- Кнопка добавления новой фичи-->
    <div class="is-flex" style="justify-content: center;">
        <a class="image is-24x24" asp-action="New" asp-controller="Feature">
            <img src="~/img/plus.svg" />
        </a>
    </div>
</div>