@model NewFeatureViewModel
@{
    ViewBag.Title = "Добавление фичи";
}

<form method="post" asp-controller="Feature" asp-action="New">
    <input type="hidden" asp-for="ProjectId"/>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">Название фичи</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description">Описание</label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Hypothesis">Гипотеза</label><br />
        <input asp-for="Hypothesis" />
        <span asp-validation-for="Hypothesis"></span>
    </div>
    <div>
        <label asp-for="Tasks">Выбор задачи</label><br />
        @foreach (var task in Model.PosibleTasks)
        {
            <input type="checkbox" value="@task.ID" name="Tasks" />@task.Name <br />
        }
        <span asp-validation-for="Tasks"></span>
    </div>
    <div>
        <label asp-for="Metrics">Выбор метрик</label><br />
        @foreach (var metric in Model.PosibleMetrics)
        {
            <input type="checkbox" value="@metric.ID" name="Metrics" />@metric.Name <br />
        }
        <span asp-validation-for="Metrics"></span>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>