@{
    ViewBag.Title = "Tasks";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Tasks</strong></span>
    @*
        foreach(var item in model.Tasks)
        {
            <div class="box">
                <p>@item.Name</p>
            </div>
        }
    *@
    <div class="box">
        <p>Test task 1</p>
    </div>
    <div class="box">
        <p>Test task 2</p>
    </div>
    <div class="box">
        <p>Test task 3</p>
    </div>
    <div class="box">
        <p>Test task 4</p>
    </div>
    <div class="box">
        <p>Test task 5</p>
    </div>
    <div class="box">
        <p>Test task 6</p>
    </div>
    <div class="box">
        <p>Test task 7</p>
    </div>

    <!-- Кнопка добавления новой задачи-->
    <div class="is-flex" style="justify-content: center;">
        <a class="image is-24x24" asp-action="New" asp-controller="Task">
            <img src="~/img/plus.svg" />
        </a>
    </div>
</div>