@model NewTaskViewModel
@{
    ViewBag.Title = "Добавление задачи";
}
<div class="content is-medium">
    <h2>Добавление новой задачи</h2>
</div>
<div class="box">
    <form method="post" asp-controller="Task" asp-action="New">
        <div class="field">
            <label class="label" asp-for="Name">Название задачи</label>
            <div class="control">
                <input class="input" asp-for="Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" />
                <span asp-validation-for="Description" class="error-message"></span>
            </div>
        </div>
        <br />
        <div class="field">
            <label class="label" asp-for="Users">Команда для задачи</label>
            <div class="control">
                @foreach (var user in Model.PossibleUsers)
                {
                    <label class="checkbox">
                        <input type="checkbox" value="@user.Id" name="Users"/>
                        @user.UserName [@user.Position]
                    </label>
                    <br/>
                }
                <span asp-validation-for="Users" class="error-message"></span>
            </div>
        </div>
        <!-- todo Если дедлайн у спринтов, то скорее всего у задач их нет-->
        <!--
        <br />
        <div class="field">
            <label class="label" asp-for="DeadLine">Дедлайн</label>
            <div class="control">
                <input type="datetime-local" asp-for="DeadLine" />
                <span asp-validation-for="DeadLine" class="error-message"></span>
            </div>
        </div>
        -->
        <div class="has-text-centered">
            <button class="button is-primary">Создать</button>
        </div>
    </form>
</div>