@model NewTaskViewModel
@{
    ViewBag.Title = "Добавление задачи";
}

<form method="post" asp-controller="Task" asp-action="New">
    <input type="hidden" asp-for="ProjectId"/>
    <div>
        <label asp-for="Name">Название задачи</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description">Описание</label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Users">Команда для задачи</label><br />
        @foreach (var user in Model.PosibleUsers)
        {
            <input type="checkbox" value="@user.Id" name="Users"/>@user.UserName <br/>
        }
        <span asp-validation-for="Users"></span>
    </div>
    <div>
        <label asp-for="DeadLine">Дедлайн</label><br />
        <input type="datetime-local" asp-for="DeadLine" />
        <span asp-validation-for="DeadLine"></span>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>