@model NewTaskViewModel
@{
    ViewBag.Title = "Добавление задачи";
}

<form method="post" asp-controller="Task" asp-action="New">
    <input type="hidden" asp-for="ProjectId" />
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label lead" asp-for="Name">Название задачи</label><br />
        <div class="col-sm-10">
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label lead" asp-for="Description">Описание</label><br />
        <div class="col-sm-10">
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
    </div>
    <br />
    <div class="form-check row mb-3">
        <label class="lead form-check-label" asp-for="Users">Команда для задачи</label><br />
        <div class="col-sm-10">
            @foreach (var user in Model.PosibleUsers)
            {
                <input class="form-check-input" type="checkbox" value="@user.Id" name="Users" />@user.UserName <br />
            }
            <span asp-validation-for="Users"></span>
        </div>
    </div>
    <br />
    <div>
        <label asp-for="DeadLine">Дедлайн</label><br />
        <input type="datetime-local" asp-for="DeadLine" />
        <span asp-validation-for="DeadLine"></span>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>