@model AddUserToTeamViewModel
@{
    ViewBag.Title = "Add user to team";
}

<div class="column box gray-container">
    <span class="bold">Add to the @Model.TaskName section</span>

    <form method="post" asp-action="AddUser" asp-controller="Team">
        <input type="hidden" asp-for="TaskId" />
        <span asp-validation-for="TaskId"></span>
        <div class="field">
            @foreach (var user in Model.PosibleUsers)
            {
            <label class="checkbox">
                <input type="checkbox" value="@user.Id" name="UserIds" />
                @user.UserName [@user.Position]
            </label>
            <br />
            }
            <span asp-validation-for="UserIds" class="error-message"></span>
        </div>
        <div class="has-text-centered">
            <button class="button is-primary">Добавить</button>
        </div>
    </form> 
</div>