@model TeamViewModel
@{
    ViewBag.Title = "Users";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Список всех юзеров </span>
        @if (User.IsInRole("Manager"))
        {
            <div class="container-text-button_button">
                <a class="is-32-height"
                   asp-controller="Account"
                   asp-action="Registration">
                    <img class="plus-button" src="~/img/plus-square.svg" />
                </a>
            </div>
        }
    </div>
    <!--Раскоментить когда релизную версию выкатывать будем-->
    <table>
        <tbody>
            <tr>
                <th>UserName</th>
                <th style="width:10px"></th>
                <th>Position</th>
                <th style="width:10px"></th>
                <th></th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td></td>
                    <td>[@user.Position]</td>
                    <td></td>
                    @if (User.IsInRole("Manager"))
                    {
                        <td>
                            <form method="get" onclick="this.submit()" asp-action="Delete" asp-controller="User">
                                <div class="is-flex center-element">
                                    <input type="hidden" value="@user.Id" name="userId" />
                                    <img class="delete-button" src="~/img/trash.svg" />
                                </div>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>