@using Microsoft.AspNetCore.Identity;
@using Epico.Entity;
@inject UserManager<User> UserManager
@model TeamViewModel
@{
    ViewBag.Title = "Users";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">List of users: </span> <!--Список всех юзеров: -->
        @if (User.IsInRole("Manager"))
        {
            <a class="button add-button is-gray is-40-height"
               asp-controller="Account"
               asp-action="Registration">
                Add new user
            </a>
        }
    </div>
    <table>
        <tbody>
            <tr>
                <th>UserName</th>
                <th style="width:10px"></th>
                <th>Position</th>
                <th style="width:10px"></th>
                <th></th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td></td>
                    <td>[@user.Position]</td>
                    <td></td>
                    @if (User.IsInRole("Manager"))
                    {
                        if (!(UserManager.GetRolesAsync(user).Result.Contains("Manager")))
                        {

                            <td>
                                <a class="button delete-button is-gray is-40-height"
                                    asp-controller="Team"
                                    asp-action="Delete"
                                    asp-route-id="@user.Id">
                                    Delete user
                                </a>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>