@model TeamViewModel
@{
    ViewBag.Title = "Teams";
}

<div class="column box" style="background: #ededed; margin: 10px;">

    <!--Раскоментить когда релизную версию выкатывать будем-->
    @foreach (var task in Model.Tasks)
    {
        <span><strong>@task.Name</strong></span>
        <div class="box">
            @foreach (var user in task.Team)
            {
                <p>@user.UserName</p>
            }
            <form method="get" onclick="this.submit()" asp-action="AddUser" asp-controller="Team">
                <div class="is-flex" style="justify-content: center;">
                    <!--костыль чтоб курсор менялся-->
                    <a>
                        <input type="hidden" asp-for="TaskId" value="@task.ID" />
                        <img src="~/img/plus.svg" />
                    </a>
                </div>
            </form>
        </div>
    }


    <!--тестовые задачи с командами-->
    <h2>Test data</h2>
    <span><strong>Test task 1</strong></span>
    <div class="box">
        <p>People 1</p>
        <p>People 2</p>
        <p>People 3</p>
        <p>People 4</p>
        <!--Кнопка для добавления Юзера в команду-->
        <form method="get" onclick="this.submit()" asp-action="AddUser" asp-controller="Team">
            <div class="is-flex" style="justify-content: center;">
                <!--костыль чтоб курсор менялся-->
                <a>
                    <input type="hidden" asp-for="TaskId" value="222" />
                    <img src="~/img/plus.svg" />
                </a>
            </div>
        </form>
    </div>
    <span><strong>Test task 2</strong></span>
    <div class="box">
        <p>People 5</p>
        <p>People 6</p>
        <p>People 7</p>
        <p>People 8</p>
        <!--Кнопка для добавления Юзера в команду-->
        <form method="get" onclick="this.submit()" asp-action="AddUser" asp-controller="Team">
            <div class="is-flex" style="justify-content: center;">
                <!--костыль чтоб курсор менялся-->
                <a>
                    <input type="hidden" asp-for="TaskId" value="333" />
                    <img src="~/img/plus.svg" />
                </a>
            </div>
        </form>
    </div>
    <span><strong>Test task 3</strong></span>
    <div class="box">
        <p>People 9</p>
        <p>People 10</p>
        <p>People 11</p>
        <p>People 12</p>
        <form method="get" onclick="this.submit()" asp-action="AddUser" asp-controller="Team">
            <div class="is-flex" style="justify-content: center;">
                <!--костыль чтоб курсор менялся-->
                <a>
                    <input type="hidden" asp-for="TaskId" value="444" />
                    <img src="~/img/plus.svg" />
                </a>
            </div>
        </form>
    </div>
    <!--Конец тестовых данных-->
</div>