@model TeamViewModel
@{
    ViewBag.Title = "Teams";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <h2>Команды для задач</h2>
    <br />
    <!--Раскоментить когда релизную версию выкатывать будем-->
    @foreach (var task in Model.Tasks)
    {
        <span><strong>@task.Name</strong></span>
        <div class="box" style="max-width: 50%">
            @foreach (var user in task.Team)
            {
                <p>@user.UserName [@user.Position]</p>
            }
            <form method="get" onclick="this.submit()" asp-action="AddUser" asp-controller="Team">
                <div class="is-flex plus-button">
                    <!--костыль чтоб курсор менялся-->
                    <a>
                        <input type="hidden" asp-for="TaskId" value="@task.ID" />
                        <img src="~/img/plus.svg" />
                    </a>
                </div>
            </form>
        </div>
    }
</div>