@{
    ViewBag.Title = "Teams";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Test feature 1</strong></span>
    <div class="box">
        <p>People 1</p>
        <p>People 2</p>
        <p>People 3</p>
        <p>People 4</p>
        <div class="has-text-centered">
            <input type="image" src="~/img/plus.svg" />
        </div>
    </div>
    <span><strong>Test feature 2</strong></span>
    <div class="box">
        <p>People 5</p>
        <p>People 6</p>
        <p>People 7</p>
        <p>People 8</p>
        <div class="has-text-centered">
            <input type="image" src="~/img/plus.svg" />
        </div>
    </div>
    <span><strong>Test feature 3</strong></span>
    <div class="box">
        <p>People 9</p>
        <p>People 10</p>
        <p>People 11</p>
        <p>People 12</p>
        <div class="has-text-centered">
            <input type="image" src="~/img/plus.svg" />
        </div>
    </div>
    <div class="has-text-centered">
        <input type="image" src="~/img/plus.svg" />
    </div>
</div>