<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Epico</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bulma.min.css" />

    <link rel="icon" type="image/x-icon" href="~/img/favicon.png">
</head>
<body>
    <script>
        window.onload = () => {
            
            Array.from(document.getElementsByClassName('left-nav_link')).forEach((target) => {
                setActive(target);
            });
            
            function setActive(target) {
               let linkHref = target.getAttribute('href').toLowerCase();
               let pathName = window.location.pathname.toLowerCase();
               console.log([linkHref, pathName])
               if (pathName.startsWith(linkHref)) {
                    target.classList.add('active');
               }
            }
        }
    </script>
    <header>
        <nav class="level nav-top">
            <div class="level-left">
                <div class="level-item logo">
                    <img src="~/img/epico.svg"/>
                    <p class="subtitle is-12">Epico Product Management</p>
                </div>
            </div>
        </nav>
    </header>
    <div class="columns main-wrapper">
        @if (User is {Identity: {IsAuthenticated: true } })
        {
            <!--Боковая панель навигации-->
            <div class="column is-narrow left-nav">
                <div class="has-text-left">
                    <a class="button is-fullwidth left-nav_link" asp-controller="Project" asp-action="Index" onload="setActive(this)" style="justify-content: flex-start">
                        <img src="~/img/product.svg" alt="Product"/> Product
                    </a>
                </div>
                <div class="has-text-left">
                    <a class="button is-fullwidth left-nav_link" asp-controller="Metric" asp-action="Index" onload="setActive(this)" style="justify-content: flex-start">
                        <img src="~/img/nsm&hom.svg" alt="NSM & HOM"/> NSM & HOM
                    </a>
                </div>
                <div class="has-text-left">
                    <a class="button is-fullwidth left-nav_link" asp-controller="RoadMap" asp-action="Index" onload="setActive(this)" style="justify-content: flex-start">
                        <img src="~/img/roadmap.svg" alt="RoadMap"/> RoadMap
                    </a>
                </div>
                <div class="has-text-left">
                    <a class="button is-fullwidth left-nav_link" asp-controller="Feature" asp-action="Index" onload="setActive(this)" style="justify-content: flex-start">
                        <img src="~/img/features.svg" alt="Features"/> Features
                    </a>
                </div>
                <div class="has-text-left">
                    <a class="button is-fullwidth left-nav_link" asp-controller="Hypotheses" asp-action="Index" onload="setActive(this)" style="justify-content: flex-start">
                        <img src="~/img/hypotheses.svg" alt="Hypotheses"/> Hypotheses
                    </a>
                </div>
                <div class="has-text-left">
                    <a class="button is-fullwidth left-nav_link" asp-controller="Team" asp-action="Index" onload="setActive(this)" style="justify-content: flex-start">
                        <img src="~/img/team.svg" alt="Team"/> Team
                    </a>
                </div>
            </div>
        }
        <!--Тело-->
        <div class="column main-container">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Epico
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>