@model Epico.Entity.Product

@{
    ViewBag.Title = "Продукт";
}

<div class="content">
    <!--
        
    <p>@Model.Name</p>
    -->
    <p>очень длинное описание продукта и кароч да вот</p>
</div>
<input type="image" src=~/img/more.svg />
<br />
<div class="box">
    <span>Виденье</span>
    <span>Миссия</span>
    <span>Стратегия</span>
</div>
<input type="image" src=~/img/more.svg />