@model NewProductViewModel

@{
    ViewBag.Title = "Создание продукта";
}

<div class="content is-medium">
    <h2>Создание продукта</h2>
</div>
<div>
    <form method="post" asp-controller="Product" asp-action="New">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <label class="label" asp-for="Name">Название</label>
            <div class="control">
                <input class="input" asp-for="Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Vision">Виденье</label>
            <div class="control">
                <input class="input" asp-for="Vision" />
                <span asp-validation-for="Vision" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Mission">Миссия</label>
            <div class="control">
                <input class="input" asp-for="Mission" />
                <span asp-validation-for="Mission" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="ProductFormula">Продуктовая формула</label>
            <div class="control">
                <input class="input" asp-for="ProductFormula" />
                <span asp-validation-for="ProductFormula" class="error-message"></span>
            </div>
        </div>
        <br />

        <div class="has-text-centered">
            <button class="button is-primary">Создать</button>
        </div>
    </form>
</div>