@model ProductViewModel

@{
    ViewBag.Title = "Просмотр продукта";
}

<section class="section">
    <h2 class="subtitle">
        @Model.Name
    </h2>
    <p><img src="~/img/Ter.png"></p>
</section>


<div class="tabs">
    <div id="content-1">
        @Model.Vision
    </div>
    <div id="content-2">
        @Model.Mission
    </div>
    <div id="content-3">
        @Model.ProductFormula
    </div>

    <div class="tabs__links">
        <a href="#content-1">Видение</a>
        <a href="#content-2">Миссия</a>
        <a href="#content-3">Формула</a>
    </div>
</div>