@model ProductViewModel

@{
    ViewBag.Title = "Просмотр продукта";
}

<section class="section">
    <h2 class="subtitle">
        Здесь должно быть описание нашего продукта. А ещё, когда жмакаешь на ссылки с низу, тебя телепортирует в хардмод Террарии.
    </h2>
    <p><img src="~/img/Ter.png"></p>
</section>


<div class="tabs">
    <div id="content-1">
        Содержимое 1...
    </div>
    <div id="content-2">
        Содержимое 2...
    </div>
    <div id="content-3">
        Содержимое 3...
    </div>

    <div class="tabs__links">
        <a href="#content-1">Видение</a>
        <a href="#content-2">Миссия</a>
        <a href="#content-3">Стратегия</a>
    </div>
</div>