@model MetricViewModel
@{
    ViewBag.Title = "Metrics";
}

<div class="content">
    <h2>North Star Metric:</h2>
    <span>Title: @Model.Metric.Name</span><br />
    <span>Description: @Model.Metric.Description</span><br />
</div>
<br />
<div class="content">
    <div class="container-text-button mobil">
        <span class="bold" style="font-size: large">Hierarchy of Metrics </span> <!--Иерархия метрик-->
        @if (User.IsInRole("Manager"))
        {
            <a class="button add-button is-gray is-40-height"
               asp-controller="Metric"
               asp-action="New">
                Add new metric <!--Добавить новую метрику-->
            </a>
        }
    </div>
    @if (Model.Error)
    {
        <span class="error-message">*To create a metric, you must specify the parent metric</span>
    }
    @if (Model.ParentError)
    {
        <span class="error-message">*You cannot bind a metric to its descendants or to itself</span>
    }
    @if (Model.DeleteMetricError)
    {
        <span class="error-message">*You cannot delete a metric if it has children</span>
    }

    @await Html.PartialAsync("MetricWalk", Model.Metric)
</div>
<br />