@model MetricViewModel
@{
    ViewBag.Title = "Metrics";
}

<div class="content">
    <h2>North Star Metric:</h2>
    <span>Название: @Model.Metric.Name</span><br />
    <span>Описание: @Model.Metric.Description</span><br />
</div>
<br />
<div class="content">
    <div class="container-text-button mobil">
        <span class="bold" style="font-size: large">Hierarchy of Metrics </span> <!--Иерархия метрик-->
        @if (User.IsInRole("Manager"))
        {
            <a class="button add-button is-gray is-40-height"
               asp-controller="Metric"
               asp-action="New">
                Add new metric <!--Добавить новую метрику-->
            </a>
        }
    </div>
    @if (Model.Error)
    {
        <span class="error-message">*Для создания метрики обязательно нужно указывать родительскую метрику</span>
    }
    @if (Model.ParentError)
    {
        <span class="error-message">*Нельзя привязать метрику к её потомкам или к самой себе</span>
    }
    @if (Model.DeleteMetricError)
    {
        <span class="error-message">*Нельзя удалить метрику, если у неё есть потомки</span>
    }

    @await Html.PartialAsync("MetricWalk", Model.Metric)
</div>
<br />