@using Epico.Entity
@model MetricViewModel
@{
    ViewBag.Title = "Metrics";
}

<div class="content">
    <h2>@Model.Metric.Name</h2>
    <p>@Model.Metric.Description</p>
</div>
<br />
<div class="content">
    <div>
        <h2>Hierarchy of Metrics</h2>
        <form method="get" onclick="this.submit()" asp-action="New" asp-controller="Metric">
            <!--style="justify-content: center;-->
            <div class="is-flex">
                <input type="hidden" asp-for="ProductId" />
                <img class="metric-plus-button" src="~/img/plus.svg" />
            </div>
        </form>
        @if (Model.Error)
        {
        <span class="error-message">*Для создания метрики обязательно нужно указывать роительскую метрику</span>
        }
    </div>

    @await Html.PartialAsync("MetricWalk", Model.Metric)
</div>
<br />