@using Epico.Entity
@model Epico.Entity.Metric
@{
    ViewBag.Title = "Metrics";
}

<div class="content">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
</div>
<br />
<div class="content">
    <h2>Hierarchy of Metrics</h2>

    @await Html.PartialAsync("MetricWalk", Model)
</div>
<br />