@using Epico.Entity
@model MetricViewModel
@{
    ViewBag.Title = "Metrics";
}

<div class="content">
    <h2>North Star Metric:</h2>
    <span>Название: @Model.Metric.Name</span><br />
    <span>Описание: @Model.Metric.Description</span><br />
</div>
<br />
<div class="content">
    <div>
        <div>
            <span class="bold" style="font-size: large">Hierarchy of Metrics </span>
            <form method="get" onclick="this.submit()" asp-action="New" asp-controller="Metric">
                <div class="is-flex">
                    <img class="metric-plus-button" src="~/img/plus.svg" />
                </div>
            </form>
        </div>
        @if (Model.Error)
        {
        <span class="error-message">*Для создания метрики обязательно нужно указывать родительскую метрику</span>
        }
    </div>

    @await Html.PartialAsync("MetricWalk", Model.Metric)
</div>
<br />