@model NewMetricViewModel

@{
    ViewBag.Title = "Добавление метрики";
}

<div class="content is-medium">
    <h2>Новая метрика</h2>
</div>
<div>
    <form method="post" asp-controller="Metric" asp-action="New">
        <input type="hidden" asp-for="ProjectId" />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <label class="label" asp-for="Name">Название</label>
            <div class="control">
                <input class="input" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        @if (Model.PosibleParentMetrics?.Count != 0)
        {
            <div class="field">
                <label class="label" asp-for="ParentMetricId">Родительская метрика</label>
                <div class="select">
                    <!-- style="width:auto;"-->
                    <select asp-for="ParentMetricId">
                        <option selected hidden></option>
                        @foreach (var parent in Model.PosibleParentMetrics)
                        {
                            <option value="@parent.ID">@parent.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ParentMetricId"></span>
                </div>
            </div>
        }
        <br />
        <div class="has-text-centered">
            <button class="button is-primary">Создать</button>
        </div>
    </form>
</div>
