@model Epico.Models.ProductEntity.Hypothesis.HypothesisViewModel

@{
    ViewBag.Title = "Hypotheses";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">List of hypothesis: </span> <!--Список всех гипотез -->
        @if (User.IsInRole("Manager"))
        {
            <a class="button add-button is-gray is-40-height"
               asp-controller="Hypothesis"
               asp-action="New">
                Add new hypothesis
            </a>
        }
    </div>
    @foreach (var hypothesis in Model.ElementsList)
    {
        <div class="box word-break none-padding">
            <a class="button is-fullwidth is-show-button"
               asp-controller="Hypothesis"
               asp-action="Show"
               asp-route-id="@hypothesis.ID">@hypothesis.Name</a>
        </div>
    }
</div>