@model FeatureViewModel

@{
    ViewBag.Title = "Hypotheses";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Hypotheses</strong></span>

    @foreach (var feature in Model.Features)
    {
        <div class="box">
            <p>@feature.Hypothesis</p>
        </div>
    }

    <!-- Кнопка добавления новой фичи и по совместительству гипотезы-->
    <div class="is-flex" style="justify-content: center;">
        <a class="image is-24x24" asp-action="New" asp-controller="Feature">
            <img src="~/img/plus.svg" />
        </a>
    </div>
</div>