@{
    ViewBag.Title = "Hypotheses";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Features</strong></span>
    @*
        foreach(var item in model.Features)
        {
            <div class="box">
                <p>@item.Name</p>
            </div>
        }
    *@
    <div class="box">
        <p>Test hypotheses 1</p>
    </div>
    <div class="box">
        <p>Test hypotheses 2</p>
    </div>
    <div class="box">
        <p>Test hypotheses 3</p>
    </div>
    <div class="box">
        <p>Test hypotheses 4</p>
    </div>
    <div class="box">
        <p>Test hypotheses 5</p>
    </div>
    <div class="box">
        <p>Test hypotheses 6</p>
    </div>
    <div class="box">
        <p>Test hypotheses 7</p>
    </div>
    <div class="has-text-centered">
        <input type="image" src="~/img/plus.svg" />
    </div>
</div>