@model FeatureViewModel

@{
    ViewBag.Title = "Hypotheses";
}

<div class="column box gray-container">
    <span class="bold">Hypotheses</span>

    @foreach (var feature in Model.Features)
    {
        <div class="box">
            <p>@feature.Hypothesis</p>
        </div>
    }

    <!-- Кнопка добавления новой фичи и по совместительству гипотезы-->
    <div class="is-flex center-element">
        <a class="image is-24x24" asp-action="New" asp-controller="Feature">
            <img class="plus-button" src="~/img/plus.svg" />
        </a>
    </div>
</div>