a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__links {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    order: 0;
    white-space: nowrap;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 #e6e6e6;
}

.tabs__links > a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    text-align: center;
    /*color: #1976d2;*/
}

.tabs__links > a:hover {
    background-color: #e6e6e6;
}

.tabs > #content-1:target ~ .tabs__links > a[href="#content-1"],
.tabs > #content-2:target ~ .tabs__links > a[href="#content-2"],
.tabs > #content-3:target ~ .tabs__links > a[href="#content-3"] {
    background-color: #ffffff;
    font-weight: bold;
    cursor: default;
}
.tabs > div:not(.tabs__links) {
    display: none;
    order: 1;
}

.tabs > div:target {
    display: block;
}

button.is-primary {
    background-color: #ff4040 !important;
}


