.nav-top {
  background: #ff4040;
  height: 38px;
  align-items: center; /*start !important;*/
}

.nav-top .logo p {
  color: #fff;
}

.logo{
    padding: 0 0 0 5px;
}

.left-nav {
    background: #ffffff;
    color: #fff;
    width: 220px;
    min-height: 800px;
    padding: 20px 0 0 0;
}

.vertical-line {
    background: #cccccc;
    width: 1px;
}

.left-nav a.active {
    font-weight: bold;
}

.left-nav a.active img {
  filter: invert(11%) sepia(80%) saturate(5680%) hue-rotate(360deg) brightness(98%) contrast(118%);
}

.main-container {
  background: #ffffff;
}

.left-nav_link {
    justify-content: flex-start;
    border: 0px;
    border-color: #ffffff;
    border-block-color: #ffffff;
    border-radius: 0;
}
.left-nav_link:hover {
    background-color: #e6e6e6
}
.left-nav_link:active {
    background-color: #cccccc
}

a.button.is-fullwidth.left-nav_link:focus:not(:active) {
    box-shadow: 0 0 0 0 #fff;
}

:focus-visible {
    outline: 0 !important;
    outline-offset: 0 !important;
}

.body-section {
    margin-top: 0px;
}

.center-element {
    justify-content: center;
}

.metric-plus-button {
    cursor: pointer;
}

.plus-button {
    cursor: pointer;
}
.metric-plus-button:hover, .plus-button:hover {
    filter: invert(13%) sepia(73%) saturate(7487%) hue-rotate(357deg) brightness(89%) contrast(127%);
}
.metric-plus-button:active, .plus-button:active {
    filter: invert(20%) sepia(87%) saturate(3829%) hue-rotate(15deg) brightness(64%) contrast(145%);
}

.bold {
    font-weight: bold;
}