.nav-top {
  background: #ff4040;
  height: 38px;
  align-items: start !important;
}

.nav-top .logo p {
  color: #fff;
}

/*
.main-wrapper {
  margin-top:0;
}
*/

.left-nav {
  background: #f0faff;
  color: #fff;
  width: 200px;
  min-height: 800px;
  padding: 20px 0 0 0;
}

.left-nav a.active {
  font-weight: bold;
}

.left-nav a.active img {
  filter: invert(11%) sepia(80%) saturate(5680%) hue-rotate(360deg) brightness(98%) contrast(118%);
}

.main-container {
  background: #ffffff;
}

.left-nav_link {
    justify-content: flex-start;
}
