.nav-top {
    background: #ff4040;
    height: 38px;
    align-items: center;
}

.nav-top .logo p {
    color: #fff;
}

.nav-top .display-username p {
    color: #fff;
}

.logo {
    padding: 0 0 0 5px;
}

.display-username {
    padding: 0 5px 0 0;
}

.left-nav {
    background: #ffffff;
    color: #fff;
    width: 220px;
    min-height: 800px;
    padding: 20px 0 0 0;
}

.vertical-line {
    background: #cccccc;
    width: 1px;
}

.left-nav a.active {
    font-weight: bold;
}

.left-nav a.active img {
    filter: invert(11%) sepia(80%) saturate(5680%) hue-rotate(360deg) brightness(98%) contrast(118%);
}

.main-container {
    background: #ffffff;
}

.left-nav_link {
    justify-content: flex-start;
    border: 0px;
    border-color: #ffffff;
    border-block-color: #ffffff;
    border-radius: 0;
}

.left-nav_link:hover {
    background-color: #e6e6e6
}

.left-nav_link:active {
    background-color: #cccccc
}

a.button.is-fullwidth.left-nav_link:focus:not(:active) {
    box-shadow: 0 0 0 0 #fff;
}

:focus-visible {
    outline: 0 !important;
    outline-offset: 0 !important;
}

.body-section {
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.center-element {
    justify-content: center;
}

.metric-plus-button {
    cursor: pointer;
}

.plus-button, .delete-button, .edit-button, .status-button {
    cursor: pointer;
}

.metric-plus-button:hover, .plus-button:hover{
    filter: invert(13%) sepia(73%) saturate(7487%) hue-rotate(357deg) brightness(89%) contrast(127%);
}

.metric-plus-button:active, .plus-button:active{
    filter: invert(20%) sepia(87%) saturate(3829%) hue-rotate(15deg) brightness(64%) contrast(145%);
}

.bold {
    font-weight: bold;
}

.logun-registretion-window {
    max-width: 300px;
    margin: 0 auto;
}

.gray-container {
    background: #ededed;
    margin: 10px;
}

.word-break {
    word-break: break-all;
}

.error-message {
    color: #ff0000;
}

.container-text-button {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.container-text-button_button {
    padding: 0 0 0 8px;
}

.tabsNew {
    /*display: flex;*/
    flex-direction: column;
}

.tabs__button {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    order: 0;
    white-space: nowrap;
    background-color: #fff;
    text-decoration: underline;
    display: inline-block;
    text-align: center;
    color: #1e90ff;
    padding: 6px 10px 6px 0px;
    border: 0px;
    font-size: 1rem;
    cursor: pointer;
    width: auto;
}

.tabs__button:hover {
    /*background-color: #e6e6e6;*/
    color: #1e90ff;
}

.tabs__button:active {
    background-color: #ffffff;
    font-weight: bold;
    cursor: default;
    color: #1e90ff;
}

.tabs__button:focus{
    outline: 0 !important;
}

.tabs__button:focus:not(:active){
    background-color: #ffffff;
    font-weight: bold;
    cursor: default;
    color: #1e90ff;
}

.tabs__button-active {
    font-weight: bold;
}


.is-red {
    color: #ffffff;
    background-color: #ff4040 !important;
}

.is-24-height {
    max-height: 24px;
}

.is-32-height {
    max-height: 32px;
}

.logout-button {
    font-size: 0.95vw;
}

.white-space-fix {
    white-space: normal;
}

.is-show-button {
    cursor: pointer;
    border: 0px;
    border-color: #ffffff;
    border-block-color: #ffffff;
    border-radius: 6px;
    padding: 1.25rem;
    margin: 0;
    justify-content: left;
}

.is-show-button:hover {
    background-color: #e6e6e6
}

.is-show-button:active {
    background-color: #cccccc
}

a.button.is-fullwidth.is-show-button {
    box-shadow: 0 0 0 0;
}

.roadmap-button {
    cursor: pointer;
    border: 0px;
    border-color: #ffffff;
    border-block-color: #ffffff;
    border-radius: 6px;
    padding: 1.25rem;
    margin: 0;
    justify-content: left;
}

.roadmap-button:hover {
    background-color: #e6e6e6
}

.roadmap-button:active {
    background-color: #cccccc
}

a.button.is-fullwidth.roadmap-button {
    box-shadow: 0 0 0 0;
}

.none-padding {
    padding: 0;
}

.product-section {
    padding: 10px;
}

.description {
    padding: 0;
    margin: 0 0 20px 0;
}

.product-title {
    font-size: 1rem;
    font-weight: bold;
}

.add-button {
    margin-left: 10px;
    padding: 0 12px 0 40px;
    background: url("../img/plus-square.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
    justify-content:flex-end;
}

.add-button:hover {
    background: url("../img/plus-square-white.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
}


.edit-button {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0 12px 0 40px;
    background: url("../img/edit-black.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
    justify-content: flex-end;
}

.edit-button:hover {
    background: url("../img/edit-white.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
}


.delete-button {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0 12px 0 40px;
    background: url("../img/trash-black.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
    justify-content: flex-end;
}

.delete-button:hover {
    background: url("../img/trash-white.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
}

/* кнопка изменения статуса */
.status-button {
    margin-left: 10px;
    padding: 0 12px 0 40px;
    background: url("../img/check-circle-black.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
    justify-content: flex-end;
}

.status-button:hover {
    background: url("../img/check-circle-white.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center left 5px;
    color: white;
}

.status-button:focus {
    border-color: #363636;
}
.add-button.is-focused:not(:active),
.add-button:focus:not(:active),
.status-button.is-focused:not(:active),
.status-button:focus:not(:active),
.edit-button.is-focused:not(:active),
.edit-button:focus:not(:active),
.delete-button.is-focused:not(:active),
.delete-button:focus:not(:active){
    box-shadow: 0 0 0 0 #fff;
}



.is-40-height {
    height: 40px;
}

.is-gray {
    background-color: #e3e3e3;
    color: black;
}

.is-gray:hover {
    background-color: #c9c9c9;
}

.add-button:focus,
.status-button:focus,
.edit-button:focus,
.delete-button:focus{
    border-color: #363636;
}
