@model AddRoadmapViewModel

@{
    ViewBag.Title = "Add feature to roadmap";
}

<div class="column box gray-container">
    <span class="bold">Add to the @Model.Roadmap.ToString() section</span>
    
    @foreach(var feature in Model.Features)
    {
    <form class="box button" onclick="this.submit();" asp-action="AddFeature" asp-controller="RoadMap">
        <input type="hidden" asp-for="FeatureId" value="@feature.ID" />
        <input type="hidden" asp-for="Roadmap" />
        <span asp-validation-for="FeatureId"></span>
        <span asp-validation-for="Roadmap"></span>
        <p>@feature.Name</p>
    </form>
    }
</div>