@using Epico.Entity;
@model RoadMapViewModel
@{
    ViewBag.Title = "RoadMap";
}

<div class="columns">
    <div class="column box" style="background: #ededed; margin: 10px;">
        <span><strong>Now</strong></span>
        @foreach(var feature in Model.Features.Where(x => x.Roadmap == RoadmapType.Now))
        {
            <div class="box">
                <p>@feature.Name</p>
            </div>
        }
        <!--Кнопка для добавления фичи в Now-->
        <form method="get" onclick="this.submit()" asp-action="AddFeature" asp-controller="RoadMap">
            <div class="is-flex" style="justify-content: center;">
                <!--костыль чтоб курсор менялся-->
                <a>
                    <input type="hidden" asp-for="Roadmap" value="0" />
                    <span asp-validation-for="Roadmap"></span>
                    <img src="~/img/plus.svg" />
                </a>
            </div>
        </form>
    </div>
    <div class="column box" style="background: #ededed; margin: 10px;">
        <span><strong>Then</strong></span>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == RoadmapType.Then))
        {
            <div class="box">
                <p>@feature.Name</p>
            </div>
        }
        <!--Кнопка для добавления фичи в Then-->
        <form method="get" onclick="this.submit()" asp-action="AddFeature" asp-controller="RoadMap">
            <div class="is-flex" style="justify-content: center;">
                <!--костыль чтоб курсор менялся-->
                <a>
                    <input type="hidden" asp-for="Roadmap" value="1" />
                    <span asp-validation-for="Roadmap"></span>
                    <img src="~/img/plus.svg" />
                </a>
            </div>
        </form>
    </div>
    <div class="column box" style="background: #ededed; margin: 10px;">
        <span><strong>After</strong></span>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == RoadmapType.After))
        {
            <div class="box">
                <p>@feature.Name</p>
            </div>
        }
        <!--Кнопка для добавления фичи в After-->
        <form method="get" onclick="this.submit()" asp-action="AddFeature" asp-controller="RoadMap">
            <div class="is-flex" style="justify-content: center;">
                <!--костыль чтоб курсор менялся-->
                <a>
                    <input type="hidden" asp-for="Roadmap" value="2" />
                    <span asp-validation-for="Roadmap"></span>
                    <img src="~/img/plus.svg" />
                </a>
            </div>
        </form>
    </div>
</div>