@{
    ViewBag.Title = "Access denied";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Доступ запрещен. </span> У вас нет прав для доступа к этой странице
    </div>
</div>