@{
    ViewBag.Title = "Access denied";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Access is denied. </span> You do not have permission to access this page
    </div>
</div>