@model Epico.Views.RegistrationViewModel

@{
    ViewData["Title"] = "Регистрация в системе";
}

<h2>Регистрация в системе</h2>
<a asp-action="Login">Вход</a>
<form method="post" asp-controller="Account" asp-action="Registration">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username"></label><br />
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>